.field {
    padding: 0.3rem;
    border: solid 2px;
    border-radius: 0.2rem;
}

.basic {
    margin: 0 0 1rem;
    font-size: 20px;

}

.form-title {
    font-size: 30px;
}

.input-field {
    /*display: flex;*/
    /*justify-content: space-around;*/
    align-items: center;
    padding: 10px 0;
    margin: 2px;

}

.submit-button {
    font-size: 20px;
}

.error {
    color: red;
}
